@media only screen and (max-device-width: 480px) {
    /* mobile specific stuff */
    body {
        -webkit-text-size-adjust:none;
        font-family:Helvetica, Arial, Verdana, sans-serif;
        padding:5px;
        position: fixed;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    * {
        font-size: 30px;
    }

    #adunit {
        display: none;
    }

    #lineback {
        order: 3;
        position: relative;
        background: white;
        height: 5%;
        display: flex;
        width: 100%;
        border: 0;
        z-index: 0;
    }

    #lineback button {
        height: 100%;
        width: 7.5%;
        padding: 5px;
        background-size: 100%;
    }

    #lineback .topbutton {
        float: none;
        font-size: 20px;
    }

    #lineback div {
        visibility: hidden;
    }

    #lineback #time {
        visibility: visible;
        font-size: 30px;
    }

    #damage {
        order: 1;
    }

    #infobooth {
        order: 0;
        font-size: 20px;
        flex-grow: 2;
        width: 100%;
        overflow: scroll;
    }

    .comboInfoBox {
        height: initial;
        padding: 5px;
    }

    .comboInfoBox img {
        width: 25%;
    }

    #buttons {
        order: 9;
        width: 100%;
        display: flex;
        background: lightgray;
        padding: 0;
        flex: 0 0 7.5%;
    }

    #buttons button {
        font-size: 30px;
        margin: 1px;
        flex-grow: 1;
    }

    #colorchange {
        display: none;
    }

    #game {
        order: 10;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 50%;
        flex: 0 0 50%;
        background: black;
    }
    #board {
        width: 100%;
        background: black;
        height: 100%;
    }
    .tile {
        width: 16%;
        height: 0;
        padding-bottom: 16%;
    }
}
